*{
    box-sizing: border-box !important;
    background-color: black;
    color: white;
    overflow-wrap: break-word;
    display: block;
}

.content{
    top: 70px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.row{
    margin: 30px 0px;
    max-width: 100%;
}

.nav-link, a{
color: white;
}
