*{
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: 14px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    
}

#avatar{
    height: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 6px solid #4370C0;
}

.nav-link, .nav-link:hover{
    color: white;
    padding: 0.5rem 1rem !important;
    /* font-size: 16px; */
}

.nav-bottom, .nav-bottom:hover{
    color: white;
    padding: 0.5rem 1rem;
    /* font-size: 16px; */
}

.navbar-toggler{
    color: white !important;
}

.content{
    position: relative;
    top: 19px;
    /* bottom: 49px; */
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 1200px;
    padding: 40px 0px 40px 0px;
}

li{
    list-style: none;
}

.list-group-item{
    padding: 5px 5px;
}

.title{
    font-size: 20px;
    font-weight: 700;
    color: #4370C0;
    border-bottom: 2px solid #4370C0;
}

.name{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #4370C0;
    margin: 10px 0;
}

.row{
    margin: 20px 10px;
}

img{
    align-self: center;
    background-color: transparent;
    color: white;
}

.icon{
    height: 30px;
}

.card{
    border: none !important;
    margin: 8px 0px;
}

.card-title{
    font-size: 20px;
}

.button{
    background-color: white;
    border-radius: 2px;
    color: #4370C0 !important;
    font-weight: 700;
    text-align: center;
    width: fit-content;
}

ul{
    padding: 0 !important ;
}
i{
    font-size: 1.5rem;
    /* color: #4370C0; */
    /* width: 21px; */
    margin:0 10px;
}

a{
    text-decoration: none;
    color: black;
    /* display: inline-block; */
}

a:hover, a:active {
    text-decoration: none;
    color: #4370C0;
}

.info{
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: center;
}

.info-list{
    padding-left: 20px;
}

span{
    margin: 0;
}

.col-sm-10{
    padding-right: 0px;
}

.col-sm-2{
    border-right: 1px solid #4370C0;
    padding: 0px;
}

p{
    margin-bottom: 0px;
}

.link{
    text-decoration: underline;
    font-style: italic;   
    color: #4370C0;
}

.mdc-card{
    margin: 20px 0px;
}
.mdc-button{
    margin: 5px 0;
}

.mdc-button:active {
    border: 0px;
}