
*{
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: 14px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    flex-direction: row !important;
    max-width: 500px !important;
}

#avatar{
    height: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 6px solid #4370C0;
}

.topnav > .nav-item{
    padding: 0px 5px;
}

.nav-link{
    color: white;
}

.content{
    position: relative;
    top: 49px;
    bottom: 49px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 1200px;
    padding: 40px 0px 60px 0px;
}

li{
    list-style: none;
}

.title{
    font-size: 20px;
    font-weight: 700;
    color: #4370C0;
    border-bottom: 2px solid #4370C0;
}

.name{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #4370C0;
}

.row{
    margin: 0px;
}

img{
    align-self: center;
    background-color: transparent;
    color: white;
}

.icon{
    height: 30px;
}

.card{
    border: none !important;
    margin: 10px 0px;
}

.button{
    background-color: white;
    border-radius: 2px;
    color: #4370C0 !important;
    font-weight: 700;
    min-width: 110px;
    text-align: center;
}

i{
    font-size: 1.5rem;
    color: #4370C0;
    width: 21px;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

a:hover, a:active {
    text-decoration: none;
    color: #4370C0;
}

.info{
    display: flex;
    align-items: center;
    padding: 3px 0px;
}

.info-list{
    padding-left: 20px;
}

span{
    margin-left : 10px;
}