*{
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;     
}

a, a:link, a:hover{
    text-decoration: none;  
}

.row{
    margin: 0px;
}

li{
    list-style: none;
}

.material-icons{
    font-size: 24px !important;
}

.btn{
    display: flex;
}
/* Navbar */
/* .navbar{
    background-color: black;
    color: white;
} */

.nav-link, .nav-link:hover, .nav-bottom, .nav-bottom:hover{
    color: white;
}

.logo{
    font-size: 1.2rem;
}

.show > ul > .nav-link, .collapsing > ul > .nav-link{
    width: 100%;
    text-align: center;
}

#download-color{
    background-color: #4370C0;
}

.navbar-toggler{
    color: white !important;
}

/* Content */

.list-group-item{
    padding: 5px 5px;
}

#avatar{
    height: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 6px solid #4370C0;
}

.title{
    font-size: 20px;
    font-weight: 700;
    color: #4370C0;
    border-bottom: 2px solid #4370C0;
}

.name{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #4370C0;
    margin: 10px 0;
}

.row{
    margin: 20px 10px;
}

img{
    align-self: center;
    background-color: transparent;
    color: white;
}

.icon{
    height: 30px;
}

.card{
    border: none !important;
    margin: 8px 0px;
}

.card-title{
    font-size: 20px;
}

.card-body{
    padding-top: 0px !important;
}

.button{
    background-color: white;
    border-radius: 2px;
    color: #4370C0 !important;
    font-weight: 700;
    text-align: center;
    width: fit-content;
}

ul{
    padding: 0 !important ;
}
i{
    font-size: 1.5rem;
    /* color: #4370C0; */
    /* width: 21px; */
    margin:0 10px;
}

a{
    text-decoration: none;
    color: black;
    /* display: inline-block; */
}

a:hover, a:active {
    text-decoration: none;
    color: #4370C0;
}

.info{
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: center;
}

.info-list{
    padding-left: 20px;
}

span{
    margin: 0;
}

.col-sm-10{
    padding-right: 0px;
}

.col-sm-2{
    border-right: 1px solid #4370C0;
    padding: 0px;
}

p{
    margin-bottom: 0px;
}

.link{
    text-decoration: underline;
    font-style: italic;   
    color: #4370C0;
}

.mdc-card{
    margin: 20px 0px;
}
.mdc-button{
    margin: 5px 0;
}

.mdc-button:active {
    border: 0px;
}
/* Project */
.card{
    transform-style: preserve-3d;
}

.card-body .btn{
    transform: translateZ(30px);
}

.card-header{
    text-align: center;
    padding: 1rem 0;
    font-weight: 700;
    color: white;
    background-color: #4370C0;
}

.btn-price{
    background-color: #e9e9e9;
    font-weight: 700;
    font-size: 1.2rem;
}

.card:hover{
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
}

.card:hover .btn-price{
    background-color: #4370C0;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}